* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-scroll-transition:  0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  background-color: rgb(56, 46, 142);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 247, 202);
  border-radius: 6px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}